body{
    background: #FAFBFB;
}

.container-full {
    margin: 0 auto;
    overflow: hidden;
}

.middle{
    text-align: center;
    background: #FAFBFB;
}

.left{
    background:#3B83A0 ;
}
.right{

    background: #3B83A0;
}

.top, .bottom {
    height: 100px;
    background: #FAFBFB;
    font-size: 50px;
    color: #CC685B;
    padding: 15px;

}
h1{
    position: relative;
    white-space:nowrap;
    left: 0px;
}
.titleContainer{
    float:left;
    margin-right:5px;
    width: 100%;
    font-size:200%;
    line-height:30px;
    overflow:hidden;
    position: relative;
}
