body{
    background: #FFFFFF ;
}

.container-full {
    margin: 0 auto;
    overflow: hidden;
    height: 720px;
}
.customContainer{
    background:#FAFBFB ;
}
/* MILIEU */
.middle{
    text-align: center;
    height: 430px;
    border-radius: 10px;
    border:  1px solid #3B83A0;
}
.middle img{
    margin-bottom: 15px;
}
.center_cover{
    margin-top: 15px;
}
/*Cotes */
.left, .right{
    padding-left: 15px;
    padding-right: 15px;
    color: #3B83A0;
    height: 430px;
    overflow: hidden;
}
.left{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 0px;
    border-right: 1px solid #3B83A0;
    border-top: 1px solid #3B83A0;
    border-bottom: 1px solid #3B83A0;
}
.right{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 0px;
    border-left: 1px solid #3B83A0;
    border-top: 1px solid #3B83A0;
    border-bottom: 1px solid #3B83A0;
    text-align: right;
}
.left h1, .right h1{
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    color: #CF907C;
    width: 100%;
    border-bottom: 1px solid;
}
.right h1{
    margin-left: 15px;
    padding-right: 15px;
}
.directMessage{
    border: 1px solid #CC685B;
    border-radius: 5px;
    padding: 10px;

}
.titleSmall{
    color: #C9AC7E ;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}
.titleMessage{
    margin-bottom: 0px;
}
.left h2, .left h3{
    margin-top: 5px;
}

/* Titres defilants top et bot */
.top, .bottom {
    font-size: 50px;
    color: #CC685B;
    padding: 0px 15px 0px 15px;
    overflow: hidden;
}
.top{
    height: 90px;
}
.bottom{
    height: 90px;
}

.titleH1{
    position: relative;
    white-space:nowrap;
    left: 0px;
    font-size:50px;
    margin-top: 10px;
}
.titleContainer{
    float:left;
    margin-right:5px;
    width: 100%;
    line-height:30px;
    overflow:hidden;
    position: relative;
}

.titleSpan {
    -webkit-animation: cssAnimation 1s 16 ease-in-out;
}
@-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(720px); }
    to { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-720px); }
}

/* Liste de covers*/
.futur{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #3B83A0;
    border-bottom: 1px solid #3B83A0;
    height: 105px;
    background: #FAFBFB;
}
